<!DOCTYPE html>
<img lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <h1>Moda Express</h1>
</head>

<div class="contenedor1">
    <form action="" class="form">
        <div class="form-header">
            <br>
            <h1>Registro de productos</h1><br>
        </div>

        <label for="Identificador" class="form-label"> Identificador del producto</label>
        <input type="text" class="form-input" placeholder="">

        <label for="descripción" class="form-label"> Descripción del producto</label>
        <textarea id=mensaje class="form-textarea" placeholder=" "></textarea>

        <label for="dirección" class="form-label"> Valor unitario</label>
        <input type="text" id="dirección" class="form-input" placeholder="">


        <label for="estado" class="form-label"> Estado</label>
        <select name="Estado" class="form-input">
            <label for="Estado" class="form-label"> Estado </label>
            <option value="Disponible">Seleccione su estado</option>
            <option value="Disponible">Disponible</option>
            <option value="No Disponible"> No Disponible</option>

        </select>

        <input type="submit" class="btn-submit" value="Guardar">


    </form>
</div>

<p> 21st Century Developers </p>

</body>
