* {
    margin: 0;
    padding: 0;
}

body {
    background: url(Fondo.jpeg);
    background-size: cover;
}

h1 {
    color: #231942;
    font-size: 30px;
    text-align: center;
}

p {
    margin-top: 2%;
    margin-left: 87%;
}

.contenedor1 .form {
    background: rgba(255, 255, 255, 0.6);
    widows: 80%;
    max-width: 500px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 70px;
    padding-bottom: 30px;
    border-radius: 100px;
    box-shadow: 1px 1px 40px 0px black;
}

.contenedor1 .form .form-label {
    display: block;
    color: #231942;
    font-size: 18px;
    position: relative;
}

.contenedor1 .form .form-input,
.form-textarea {
    background-color: rgba(255, 255, 255, 255);
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 14px;
    margin: 10px auto;
    color: #231942;
    float: left;
}

.contenedor1 .form .form-input,
.form-textarea {
    resize: vertical;
    max-height: 5px;
    min-height: 30px;
}

.contenedor1 .form .btn-submit {
    width: 40%;
    margin-left: 30%;
    outline: none;
    background-color: #231942;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 7px 0%;
    cursor: pointer;
    transition: all .5s ease;
    border-radius: 60px;
}
