@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display)swap');

body{
    background: url(../../assets/images/fondo.jpg) no-repeat center;
    height: 80vh;
}

:root{
    --primary-color:white;
    --secondary-color: rgb(61,68,73);
    --highlight-color:#3282b8;

    --dt-status-disponible-color: greenyellow;
    --dt-status-nodisponible-color: lightsalmon;

    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;

    --dt-border-radius: 3px;

    --dt-background-color-container: #2a3338;
    --dt-border-color: var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text-color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
    --dt-even-row-color: var(--secondary-color);
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color: var(--secondary-color);
    --dt-input-color: var(--primary-color);
}

.material-icons{
    font-size: 16px;
}

.detalle-container{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    width: 600px;
    font-size: 12px;
    margin: 95px auto;

}

.detalle-container .componentes-detalle{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.detalle-container .componentes-detalle .search{
    width: 30%;
}

.detalle-container .componentes-detalle .search-input{
    width: 100%;
    background-color: var(--dt-input-background-color);
    display: block;
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color: var(--dt-input-color);

}

.detalle-container .componentes-detalle .componentes{
    width: 70%;
}

.detalle-container .componentes-detalle .componentes ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.detalle-container .componentes-detalle .componentes ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
    align-items: baseline;
}

.detalle-container .final-componentes{
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.detalle-container .final-componentes .lista-items{
    width: 50%;
}

.detalle-container .final-componentes .paginas{
    margin-left: auto;
    margin-right: 0;
    width:  50%;
}

.detalle-container .final-componentes .paginas ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.detalle-container .final-componentes .paginas ul li{
    display: inline-block;
    margin: var(--dt-padding-xs);
}

.detalle-container .final-componentes .paginas ul li button,
.detalle-container .componentes-detalle .componentes ul li button{
    font-family: 'Noto Sans', sans-serif;
    color: var(--dt-text-color-button);
    width:  100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;

}

.detalle-container .final-componentes .paginas ul li button:hover,
.detalle-container .componentes-detalle .componentes ul li button:hover{
    background: var(--dt-bg-active-button);
    color: var(--dt-text-color-active-button);
}

.detalle-container .final-componentes .paginas ul li span.active{
    background-color: var(--dt-bg-color);
    border-radius: var(--dt-border-radius);
}

.detalle-container .final-componentes .paginas ul li button,
.detalle-container .final-componentes .paginas ul li span,
.detalle-container .componentes-detalle .componentes ul li button{
    padding: var(--dt-padding-s) var(--dt-padding);
}

.detalle-container .tabla_resumen{
    border-collapse: collapse;
    width: 100%;
}

.detalle-container .tabla_resumen,
.detalle-container .tabla_resumen th,
.detalle-container .tabla_resumen td{
    padding: var(--dt-padding) var(--dt-padding);
}

.detalle-container .tabla_resumen th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
}

.detalle-container .tabla_resumen td{
    border-bottom: solid 1px var(--dt-border-color);
}

.detalle-container .tabla_resumen tbody tr:nth-child(even){
    background-color: var(--dt-even-row-color);
}

.detalle-container .tabla_resumen tbody tr:hover{
    background-color: var(--dt-hover-cell-color);
}

.detalle-container .tabla_resumen tbody tr .disponible::after,
.detalle-container .tabla_resumen tbody tr .nodisponible::after{
    display: inline-block;
    vertical-align: middle;
}

.detalle-container .tabla_resumen tbody tr .disponible::after{
    content: 'Disponible';
    color: var(--dt-status-disponible-color);
}

.detalle-container .tabla_resumen tbody tr .nodisponible::after{
    content: 'No disponible';
    color: var(--dt-status-nodisponible-color);
}

.detalle-container .tabla_resumen tbody tr .disponible::before,
.detalle-container .tabla_resumen tbody tr .nodisponible::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.detalle-container .tabla_resumen tbody tr .disponible::before{
    background-color: var(--dt-status-disponible-color);
}

.detalle-container .tabla_resumen tbody tr .nodisponible::before{
    background-color: var(--dt-status-nodisponible-color);
}