@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "IBM Plex Serif", serif;
}

body {
  background: url(../media/fondo.jpg) no-repeat center fixed;
  background-size: cover;
}

.input {
  @apply rounded-full h-10 px-2 border border-gray-400 w-full focus:outline-none focus:border-transparent focus:ring focus:ring-principal shadow-lg;
}
.input2 {
  @apply rounded-full h-10 px-2 border border-gray-400 mx-0 focus:outline-none focus:border-transparent focus:ring focus:ring-principal shadow-lg;
}

.boton {
  @apply rounded-full h-10 px-2 bg-principal text-white shadow-lg hover:bg-paleta3 hover:bg-opacity-40 hover:text-principal;
}

.tabla {
  margin: 5px;
}

.tabla th,
.tabla td {
  padding: 15px;
  margin: 5px;
  text-align: center;
  width: auto;
}

.tabla th {
  background-color: #5e548e;
  
}

.tabla tr:nth-child(even) {
  background-color: rgba(159, 134, 193,0.5);
}

.tabla tr:hover {
  background-color: rgba(159, 134, 193,0.3) ;
  cursor: pointer;

}

.img {
  background: url(/src/media/productos.png);
  background-size: cover;
  height: 200px;
  width: 400px;
}
.img2 {
  background: url(/src/media/ventas.jpg);
  background-size: cover;
  height: 200px;
  width: 400px;
}

.img3 {
  background: url(/src/media/usuarios.png);
  background-size: cover;
  height: 200px;
  width: 400px;
}
.img4 {
  background: url(https://cdn-user-icons.flaticon.com/15843/15843627/1636472968921.svg?token=exp=1636473907~hmac=3eb3e6afd6dfa6a4285ec3eb33b875f5);
}